/*
This file is part of Noppi.

Noppi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Noppi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Noppi.  If not, see <http://www.gnu.org/licenses/>.
*/

.red{
  color: red;
}
.green{
  color: green;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.horisontalCenter{
    align-items: center;
}

body{
  padding: 4px 10px;
  position: relative;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fafafa), color-stop(0.5, #fff), color-stop(0.6, #ddd), color-stop(0.95, #FFF));
  border-radius: 13px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  border: 1px solid #BBB;
  border-top-color: #CCC;
  border-bottom-color: #999;
  border-right-color: #AAA;
  color:#333;
  text-decoration:none !important;
  -moz-box-shadow: 0 4px 4px rgba(255,255,255,.6) inset, 0px -9px 10px -4px rgba(255, 255, 255,1) inset, 0 -20px 1px -6px rgba(0, 0, 0, 0.125) inset;
  outline: none !important;
  
  

  background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#f0f0f0), color-stop(0.5, #eee), color-stop(0.6, #ddd), color-stop(0.95, #eee));

  background: linear-gradient(147deg,#bbb, #f0f0f0, #eee);
  
  background: linear-gradient(147deg,#bbb, #f0f0f0, #ddd, #eee);
  
  /*
  
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.25) inset;
  background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#f0f0f0), color-stop(0.5, #eee), color-stop(0.6, #ddd), color-stop(0.95, #eee));
  border: 1px solid #BBB;
  border-top-color: #999;
  border-bottom-color: #EEE;
  border-right-color: #999;
  color: #111;
  */
  
}